<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Nova Ordem - Mini WMS</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
  <div th:insert="fragments/header :: header"></div>
  <div class="container">
    <h1>Nova Ordem de Saída</h1>
    <form th:action="@{/ordens}" th:object="${ordem}" method="post">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <div><label>Código</label><input th:field="*{codigo}" /></div>
      <div>
        <label>Cliente</label>
        <select name="clienteId">
          <option value="">-- nenhum --</option>
          <option th:each="c : ${clientes}" th:value="${c.id}" th:text="${c.nome}" th:selected="${ordem.clienteId} == ${c.id}"></option>
        </select>
      </div>
      <hr />
      <h3>Adicionar Item</h3>
      <div>
        <label>Produto</label>
        <select name="produtoId">
          <option th:each="p : ${produtos}" th:value="${p.id}" th:text="${p.sku + ' - ' + p.nome}"></option>
        </select>
      </div>
      <div>
        <label>Quantidade</label>
        <input type="number" step="1" min="1" name="quantidade" />
      </div>
      <div>
        <label>Alocação</label>
        <select name="allocationStrategy">
          <option value="FIFO">FIFO (Primeira entrada primeiro saída)</option>
          <option value="FEFO">FEFO (Primeiro a expirar primeiro a sair)</option>
          <option value="MANUAL">Manual (Escolher lote)</option>
        </select>
      </div>
      <div>
        <label>Lote (opcional, usado para alocação MANUAL)</label>
        <select name="loteId">
          <option value="">-- nenhum --</option>
          <option th:each="l : ${lotes}" th:value="${l.id}" th:text="${l.codigoLote + ' - ' + (l.produto!=null?l.produto.sku:'')}"></option>
        </select>
      </div>
      <div style="margin-top:10px"><button class="btn" type="submit">Salvar</button> <a href="/ordens">Cancelar</a></div>
    </form>
  </div>
</body>
</html>
